.breadcrumbs {
    color: $colorTextBlue;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    padding-top: 30px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: $containerPadding;
        right: $containerPadding;
        height: 1px;
        display: block;
        background: $colorBorderBlue;
    }

    a {
        &::after {
            content: '/';
            margin-left: 10px;
        }

        &:last-child {
            &::after {
                display: none;
            }
            opacity: .5;
        }
    }
}