@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.5);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes translateYBounce {
  0% {
    transform: translateY(0%);
  }
  45% {
    transform: translateY(50%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

$animation: 12s infinite ease-in-out;


.hero {

    padding: 0 5px;
    padding-top: $headerHeight;
    padding-bottom: clamp(40px, 8vw, 80px);


    &_fw {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: clamp(40px, 8vw, 80px);
        background: $colorBgBase;
        overflow: clip;

        & + .section_primary {
            margin-top: calc(-1 * clamp(40px, 8vw, 80px));
        }

        .hero__container {
            background: none;
            overflow: visible;
            align-items: flex-end;
            padding: 0 $containerPadding;
            max-width: calc($conteinerWidth + 2 * $containerPadding);
        }

        .hero__left {
            flex: 0 1 710px;
        }
        .hero__right {
            height: 390px;
            flex: 0 1 620px;
        }

        @media screen and (max-width: $breakpoint768) {
            .breadcrumbs {
                margin-bottom: 20px;
            }
            .hero__left {
                flex: unset;
            }
            .hero__right {
                height: 200px;
                flex: unset;
            }
        }
    }

    // .hero__container
    &__container {
        padding: clamp(30px, 8vw, 80px) clamp(15px, 6vw, 80px);
        border-radius: clamp(15px, 2vw, 20px);
        background: $colorBgAlt;
        max-width: $conteinerWidth;
        overflow: hidden;

        display: flex;
        align-items: center;
        gap: clamp(40px, 8vw, 80px);

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
        }
    }

    // .hero__left
    &__left {
        display: flex;
        flex-direction: column;
        gap: $s30;
        flex: 1 0 310px;

        @media screen and (max-width: $breakpoint768) {
            flex: unset;
        }
    }

    // .hero__title
    &__title {
        color: $colorPrimary;
    }

    // .hero__text
    &__text {

    }

    // .hero__partners
    &__partners {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(10px, 2vw, 20px);

        img {
            height: 56px;
            width: auto;
            display: block;
            mix-blend-mode: darken;
        }
    }

    // .hero__footer
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        margin-top: clamp(15px, 3vw, 30vw);

        @media screen and (max-width: $breakpoint576) {
            .btn {
                flex-grow: 1;
            }
        }
    }

    // .hero__nav
    &__nav {
        display: flex;
        align-items: center;
        gap: clamp(10px, 2vw, 20px);
    }

    // .hero__prev

    &__prev {
    }

    // .hero__next

    &__next {
    }

    // .hero__right
    &__right {
        flex: 0 1 700px;
        height: 476px;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $breakpoint768) {
            flex: unset;
            height: auto;
            aspect-ratio: 1.8;
            width: 100%;
        }

        &._mask-animated {
            .hero__img {
                mask: url(../img/hero/mask/mask-animated.svg) center / contain no-repeat;
                width: 846px;
                z-index: 0;
                
                img {
                    animation: scaleBounce $animation;
                }

                @media screen and (max-width: $breakpoint768) {
                    width: 150%;
                }
            }
            .hero__figure {
                background: url(../img/hero/figure/animated.svg) center / contain no-repeat;
                width: 433px;
                height: 433px;
                z-index: 1;
                left: 412px;
                top: -2px;

                animation: translateYBounce $animation;


                @media screen and (max-width: $breakpoint768) {
                    display: none;
                }
            }
        }
        &._mask-1 {
            .hero__img {
                mask: url(../img/hero/mask/mask-1.svg) center / contain no-repeat;
                width: 1050px;

                @media screen and (max-width: $breakpoint768) {
                    width: 150%;
                }
            }
            .hero__figure {
                background: url(../img/hero/figure/1.svg) center / contain no-repeat;
                width: 1050px;


                @media screen and (max-width: $breakpoint768) {
                    width: 150%;
                }
            }
        }
        &._mask-2 {
            .hero__img {
                mask: url(../img/hero/mask/mask-2.svg) center / contain no-repeat;
                width: 844px;

                @media screen and (max-width: $breakpoint768) {
                    width: 123%;
                }
            }
            .hero__figure {
                background: url(../img/hero/figure/2.svg) center / contain no-repeat;
                width: 1050px;

                @media screen and (max-width: $breakpoint768) {
                    width: 150%;
                }
            }
        }
    }

    // $imgWidth: max(150%, 800px);
    // $imgHeight: clamp(100%, 50vw, 150%);
    $imgHeight: 638px;

    // .hero__img
    &__img {

        position: absolute;
        width: 1050px;
        height: $imgHeight;
        top: 0;
        left: 0;
        z-index: 1;

        @media screen and (max-width: $breakpoint768) {
            height: 150%;
            width: 150%;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            inset: 0;
            background: rgba($color: #243579, $alpha: .2);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

    // .hero__figure
    &__figure {
        position: absolute;
        height: $imgHeight;
        top: 0;
        left: 0;
        z-index: 0;

        @media screen and (max-width: $breakpoint768) {
            height: 150%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__article-info {
        margin-top: clamp(10px, 2vw, 20px);
        display: flex;
        gap: clamp(10px, 2vw, 20px);
        flex-wrap: wrap;
        color: $colorHeadingPrimary;

        & > * {
            display: flex;
            align-items: center;
            gap: 10px;

            svg, img {
                flex-shrink: 0;
                display: block;
                width: 18px;
                aspect-ratio: 1;
            }
        }
    }
}


