.h1 {
    font-family: $fontHeading;
    font-size: clamp(36px, 5vw, 56px);
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
}

.h2 {
    font-family: $fontHeading;
    font-size: clamp(32px, 5vw, 48px);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -2%;
}

.h3 {
    font-family: $fontHeading;
    font-size: clamp(26px, 4vw, 40px);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -2%;
}

.h4 {
    font-family: $fontPrimary;
    font-size: clamp(20px, 2.5vw, 24px);
    font-weight: 400;
    line-height: 1.2;
}

.h5 {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
}

.text-1 {
    font-family: $fontPrimary;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
    line-height: 1.4;
    
    strong, b,
    &_medium {
        font-weight: 400;
    }
}

.text-2 {
    font-family: $fontPrimary;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 300;
    line-height: 1.4;

    strong, b,
    &_medium {
        font-weight: 400;
    }
}

.number-typo {
    font-family: $fontHeading;
    font-size: clamp(50px, 5vw, 72px);
    font-weight: 500;
    line-height: 1;
    letter-spacing: -2%;
}

.review-typo {
    font-family: $fontPrimary;
    font-size: clamp(24px, 3vw, 32px);
    font-weight: 300;
    line-height: 1.4;
}

.quote-typo {
    font-family: $fontPrimary;
    font-size: clamp(20px, 2.5vw, 26px);
    font-weight: 300;
    line-height: 1.45;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & > ul {
        
        li {
            padding-left: 1.5em;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                margin: .5em .6em 0;
                width: 5px;
                height: 5px;
                flex-shrink: 0;
                border-radius: 50%;
                background: $colorTextPrimary;
            }
        }
        
    }

    & > ol {
        counter-reset: ol;
        
        li {
            padding-left: 1.5em;
            position: relative;
            counter-increment: ol;

            &::before {
                content:  counter(ol) '.';
                position: absolute;
                left: 0;
                top: 0;
                margin: 0 .5em 0;
                flex-shrink: 0;
                
            }
        }
    }

    a {
        text-decoration: underline;
        color: $colorAccentPrimary;
    }
    
    & > h1 {
        @extend .h2;
        color: $colorHeadingPrimary;
        margin: 10px 0;
    }
    & > h2 {
        @extend .h2;
        color: $colorHeadingPrimary;
        margin: 10px 0;
    }
    & > h3 {
        @extend .h3;
        color: $colorHeadingPrimary;
        margin: 10px 0;
    }
    & > h4 {
        @extend .h4;
        color: $colorHeadingPrimary;
        margin: 10px 0;
    }
    & > h5 {
        @extend .h5;
        color: $colorHeadingPrimary;
        margin: 10px 0;
    }

    & > blockquote {
        @extend .quote-typo;
        margin: 10px 0;
        
        p {
            padding: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
        }

        display: flex;
        &::before {
            content: '';
            width: 20px;
            border: 3px solid $colorAccentPrimary;
            border-right: none;
        }
        &::after {
            content: '';
            width: 20px;
            border: 3px solid $colorAccentPrimary;
            border-left: none;
        }



    }

    & > .table-wrapper {
        width: 100%;
        overflow-x: auto;

        @include hideScrollbar;

        @media screen and (max-width: $breakpoint768) {
            @include width100vw;
            padding: 0 $containerPadding;
        }
    }

    & > table {
        border-collapse: collapse;
        min-width: 100%;
        width: max-content;

        @extend .text-2;

        th, td {
            padding: 15px 20px;
            border: 1px solid $colorBorderMuted;
        }

        th {
            font-weight: 500;
            text-align: left;
        }

        td {
            
        }
    }

    & > .image-left,
    & > .image-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(10px, 5vw, 50px);

        img {
            @include flexUntil(0, 1, 48%, $breakpoint768);
            height: clamp(250px, 36vw, 360px);
            width: auto;
            max-width: min(100%, 900px);
            border-radius: 10px;
            overflow: hidden;
            object-fit: cover;
        }

        div {
            flex: 0 1 46%;
            display: flex;
            flex-direction: column;
            gap: 1em;
            @include flexUntil(0, 1, 46%, $breakpoint768);
        }

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
        }

    }

    & > .image-right {
        flex-direction: row-reverse;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column-reverse;
        }
    }

}